@model IEnumerable<JSONtestWebsite.Models.PostModel.Posting>

@{
    ViewBag.Title = "All Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Post Listings</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.postId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.body)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.postId</td>
            <td>@item.id</td>
            <td>@item.name</td>           
            <td>@item.email</td>
            <td>@item.body</td>          
        </tr>
    }
</table>
